 *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: tahoma;
}

.body img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
} 

.active {
background-color: #717171;
}

.slides {
    display: none;
    position: absolute;
    
}

.slides img {
    width: 100vw;
    height: 99vh;
    object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  /* margin: auto; */
  overflow: hidden;
}

.slides::-webkit-scrollbar{
    display: none;
}
/* BODY OVERLAY EFFECT BELOW */
.overlay{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.637);
    top: 0px;
}


/* BODY LAYOUT EDITS */
.bodyout{
    width: 100%;
    overflow: hidden;
}

.body::-webkit-scrollbar{
    display: none;
}

.body{
    width: 300%;
    height: 90%;
    display: flex;
    overflow-x: scroll;
}
/* GLASS BACKGROUND */

.glass-container{
    position: absolute;
    top: 200px;
    right: 145px;
    width: 700px;
    height: 375px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 0px;
    backdrop-filter: blur(7px);
    background-color: rgba(5,5,5, 0.173);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255,255,255,0.4) solid;
    border-bottom: 0px rgba(40,40,40,0.35) solid;
    border-right: 0px rgba(40,40,40,0.35) solid;
}
/* FORMS FEATURES AND EDITS BELOW */
form{
    text-align: center;
}

.forminner{
    width: 400px;
    text-align: center;
}

form input{
    position: relative;
    width: 400px;
    height: 50px;
    margin-bottom: 30px;
    border: none;
    padding-left: 50px;
    font-size: 1rem;
}

form img{
    position: absolute;
    /* left: 5px; */
    /* top: 5px; */
    margin: 10px 10px;
    z-index: 1;
    width: 30px;
    height: 30px;
}

/* START OF BUTTON EDITS BELOW */
/* From uiverse.io by @adamgiebl */
button {
    font-family: inherit;
    font-size: 20px;
    background: rgb(8, 8, 8);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    /* border-radius: 16px; */
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    width: 400px;
   }
   
   button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   button:hover svg {
    transform: translateX(1.9em) rotate(45deg) scale(1.1);
   }
   
   button:hover span {
    transform: translateX(5em);
   }
   
   button:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   
   

/* BUTTON EDITS END HERE */

/* END OF FORM EDITS HERE */

/* PVC SLIDES EDITS BELOW */

.pvcslides img{
width: 400px;
height: 440px
}

.pvcslides{
    position: absolute;
    height: 375px;
    top: 200px;
    left: 120px;
    display: flex;
    width: 400px;
    scroll-behavior: smooth;
    overflow: hidden;
    cursor: pointer;
}

.pvcslidesinner{
    width: 1000px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.pvcslidesinner::-webkit-scrollbar{
    display: none;
}
/* END OF PVC SLIDE  */

/* LOGO */

.logo img{
    width: 200px;
}
.logo{
    position: absolute;
    top: 70px;
    right: 40%;
}

/* NCDC BUTTON SECTION */
.inecbtnsection{
    position: absolute;
    top: 525px;
    left: 120px;
    align-items: center;
}

.inecbtnsection img{
    display: none;
    position: absolute;
    z-index: 2;
    width: 30px;
    margin: 10px;
}

#inecbtn:hover{
    transition: 0.4s ease-in-out;
    background-color: rgb(61,66,150);
    color: white;
    /* border: solid 0.8px white; */
    font-style: italic;

}

/* rgb(169,205,69); */
#inecbtn{
    display: none;
    background-color: rgba(169, 205, 69, 0.774);
    position: relative;
    color: black;
    width: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 50px;
}
/* MEDIA QUERY FOR TABLETS AND IPADS */
@media only screen and (max-width: 820px) {


    body{
        width: 800px;
        text-align: center;
        overflow: hidden;
    }
    .logo img{
        width: 150px;
    }
    .logo{
        position: absolute;
        top: 40px;
        right: 40%;
    }


    .glass-container{
        position: absolute;
        top: 125px;
        left: 90px;
        width: 600px;
        height: 375px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 20px;
        border-radius: 0px;
        backdrop-filter: blur(7px);
        background-color: rgba(5,5,5, 0.173);
        box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
        border: 0px rgba(255,255,255,0.4) solid;
        border-bottom: 0px rgba(40,40,40,0.35) solid;
        border-right: 0px rgba(40,40,40,0.35) solid;
    }

    .pvcslides{
        margin: auto;
        position: absolute;
        height: 575px;
        top: 500px;
        left: 90px;
        display: flex;
        width: 600px;
        scroll-behavior: smooth;
        overflow: hidden;
        cursor: pointer;
    }

    .pvcslides img{
        width: 600px;
        height: 640px
    }
    /* rgba(169, 205, 69, 0.774) */
    #inecbtn{
        display: none;
        background-color: white;
        position: relative;
        color: black;
        width: 550px;
        text-align: center;
        font-weight: bold;
        font-size: 1.8rem;
        padding-left: 0px;
    }

    .inecbtnsection{
        position: absolute;
        top: 1005px;
        left: 120px;
        align-items: center;
    }
}

@media only screen and (max-width: 375px) {
    
    body{
        width: 375px;
        text-align: center;
        overflow: hidden;
    }
    .logo img{
        width: 100px;
    }
    .logo{
        position: absolute;
        top: 30px;
        right: 70%;
        z-index: 3;
    }

    form input{
        position: relative;
        width: 350px;
        height: 50px;
        margin-bottom: 30px;
        border: none;
        padding-left: 50px;
        font-size: 1rem;
    }

    button {
        font-family: inherit;
        font-size: 20px;
        background: rgb(8, 8, 8);
        color: white;
        padding: 0.7em 1em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        /* border-radius: 16px; */
        overflow: hidden;
        transition: all 0.2s;
        cursor: pointer;
        width: 350px;
        margin-left: 25px;
       }

    .glass-container{
        position: absolute;
        top: 20px;
        left: 10px;
        width: 350px;
        height: 375px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 20px;
        border-radius: 0px;
        backdrop-filter: blur(2px);
        background-color: rgba(5,5,5, 0.173);
        box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
        border: 0px rgba(255,255,255,0.4) solid;
        border-bottom: 0px rgba(40,40,40,0.35) solid;
        border-right: 0px rgba(40,40,40,0.35) solid;
    }

    .pvcslides{
        margin: auto;
        position: absolute;
        height: 575px;
        top: 350px;
        left: 10px;
        width: 350px;
        display: flex;
        scroll-behavior: smooth;
        overflow: hidden;
        cursor: pointer;
    }

    .pvcslides img{
        width: 350px;
        height: 320px
    }

    #inecbtn{
        display: none;
        background-color: rgba(169, 205, 69, 0.774);
        position: relative;
        color: black;
        width: 300px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        /* padding-left: 50px; */
    }

    .inecbtnsection{
        position: absolute;
        top: 603px;
        left: 0px;
        align-items: center;
    }
}

